@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model _70KApps.Areas.OiNao.Models.OiNaoContact

@{

}

<div class="container-fluid" id="ContactForm">
    <div class="row g-3">
        <div class="collapse">
            <label class="control-label" label-for="ID">ID</label>
            <input class="form-control" asp-for="@Model.ID" />
            <label class="control-label" label-for="CreatedBy">Created By</label>
            <input class="form-control" asp-for="@Model.CreatedBy" />
            <label class="control-label" label-for="CreateDate">Create Date</label>
            <input class="form-control" asp-for="@Model.CreateDate" />
        </div>
        <div class="col-lg-2 col-md-12">
            <label class="control-label" label-for="title">Title</label>
            <input class="form-control" asp-for="@Model.title" />
        </div>
        <div class="col-lg-3 col-md-12">
            <label class="control-label" label-for="FirstName">First Name</label>
            <input class="form-control" asp-for="@Model.FirstName" />
        </div>
        <div class="col-lg-2 col-md-12">
            <label class="control-label" label-for="MiddleName">Middle Name</label>
            <input class="form-control" asp-for="@Model.MiddleName" />
        </div>
        <div class="col-lg-3 col-md-12">
            <label class="control-label" label-for="LastName">Last Name</label>
            <input class="form-control" asp-for="@Model.LastName" />
        </div>
        <div class="col-lg-2 col-md-12">
            <label class="control-label" label-for="suffix">Suffix</label>
            <input class="form-control" asp-for="@Model.suffix" />
        </div>
        <div class="col-lg-4 collapse col-md-12">
            <label class="control-label" label-for="GivenYomi">Given Yomi</label>
            <input class="form-control" asp-for="@Model.GivenYomi" />
        </div>
        <div class="col-lg-4 collapse col-md-12">
            <label class="control-label" label-for="SurnameYomi">Surname Yomi</label>
            <input class="form-control" asp-for="@Model.SurnameYomi" />
        </div>
        <div class="col-lg-4 col-md-12">
            <label class="control-label" label-for="nickname">Nickname</label>
            <input class="form-control" asp-for="@Model.nickname" />
        </div>
        <div class="col-lg-4 col-md-12">
            <label class="control-label col-md-12" label-for="Company">Company</label>
            <input class="form-control" asp-for="@Model.Company" />
        </div>
        <div class="col-lg-4 col-md-12">
            <label class="control-label col-md-12" label-for="suffix">OfficeLocation</label>
            <input class="form-control" asp-for="@Model.OfficeLocation" />
        </div>
    </div>
    <hr />
    <div class="row g-3">
        <div class="col-12 text-end">
            <button id="btnDelete" type="button" class="btn btn-danger">Delete</button>
            <button id="btnClear" type="button" class="btn btn-warning">Clear</button>
            <button id="btnSubmit" type="button" class="btn btn-success">Submit</button>
        </div>
    </div>
    <div class="row g-3 collapse" id="contactNav">
        <div>Contact Navigation</div>
        <div class="col-lg-4 col-md-6">
            <button type="button" id="EmailsButton" class="btn btn-warning w-100 active">Emails</button>
        </div>
        <div class="col-lg-4 col-md-6">
            <button type="button" id="AddressesButton" class="btn btn-warning w-100">Addresses</button>
        </div>        
        <div class="col-lg-4 col-md-6">
            <button type="button" id="ContactNumberButton" class="btn btn-warning w-100">Contact Numbers</button>
        </div>
        <div class="col-3 collapse">
            <button type="button" id="LinkedContactsButton" class="btn btn-warning w-100">Linked Contacts</button>
        </div>
        <div class="col-12" id="miniFormBlock">
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){
        $("#btnClear").click(function(){
            $("#ID").val("")
            $("#title").val("")
            $("#FirstName").val("")
            $("#MiddleName").val("")
            $("#LastName").val("")
            $("#suffix").val("")
            $("#nickname").val("")
            $("#GivenYomi").val("")
            $("#SurnameYomi").val("")
            $("#Company").val("")
            $("#OfficeLocation").val("")
            $("#CreatedBy").val("")
            $("#CreateDate").val("")

            $("#btnSubmit").text("Create New")
            $("#contactNav").addClass("collapse")
        })

        $("#btnDelete").click(function(){
            var id = $("#ID").val();
            $.ajax({
                url: "../OiNao/Delete/deleteContact/"+id,
                success: function(result){
                    $("#contactModal").modal("hide")
                    resetContactTable()
                },
                error: function(result){
                    console.log(result)
                }
            })
        })

        $("#btnSubmit").click(function(){
            query_string = "";
            $.ajax({
                url: "../OiNao/Create/postContactForm/",
                data:{
                    ID: $("#ID").val(),
                    title: $("#title").val(),
                    FirstName: $("#FirstName").val(),
                    MiddleName: $("#MiddleName").val(),
                    LastName: $("#LastName").val(),
                    suffix: $("#suffix").val(),
                    nickname: $("#nickname").val(),
                    GivenYomi: $("#GivenYomi").val(),
                    SurnameYomi: $("#SurnameYomi").val(),
                    Company: $("#Company").val(),
                    OfficeLocation: $("#OfficeLocation").val(),
                    CreatedBy: $("#CreatedBy").val(),
                    CreateDate: $("#CreateDate").val(),
                    UpdatedBy: $("#UpdatedBy").val(),
                    UpdateDate: $("#UpdateDate").val()
                },
                success: function(result){
                    $("#formModal").html(result);
                    if($("#Id").val() !== ""){
                        $("#btnSubmit").text("Update");
                        $("#contactNav").removeClass("collapse")
                    }
                    resetContactTable()
                },
                erorr: function(result){
                    console.log(result);
                }
            })

        })

        $("#EmailsButton").click(function(){
            var id = $("#ID").val();
            $.ajax({
                url: "../OiNao/Create/getEmailForm/"+id,
                success: function(result){
                    $("#miniFormBlock").html(result)
                },
                error: function(result){
                    console.log(result)
                }
            })
        })

        $("#LinkedContactsButton").click(function(){
            var id = $("#ID").val();
            $.ajax({
                url: "../OiNao/Create/getRelationshipForm/"+id,
                success: function(result){
                    $("#miniFormBlock").html(result)
                },
                error: function(result){
                    console.log(result)
                }
            })
        })

        $("#AddressesButton").click(function(){
            var id = $("#ID").val();
            $.ajax({
                url: "../OiNao/Create/getAddressForm/"+id,
                success: function(result){
                    $("#miniFormBlock").html(result)
                },
                error: function(result){
                    console.log(result)
                }
            })
        })

        $("#ContactNumberButton").click(function(){
            var id = $("#ID").val();
            $.ajax({
                url: "../OiNao/Create/getContactNumberForm/"+id,
                success: function(result){
                    $("#miniFormBlock").html(result)
                },
                error: function(result){
                    console.log(result)
                }
            })
        })

        if($("#ID").val() !== ""){
            $("#btnSubmit").text("Update");
            $("#contactNav").removeClass("collapse")
        }

        console.log("Contact form loaded");
    })

</script>